.cart {
	position: absolute;
	right: 0;
	top: 5rem;
	border-radius: 5px;
	overflow-y: scroll;
	padding: 2rem;
	background-color: #e1e1e1;
	width: 40rem;
	min-height: 10rem;
	display: flex;
	flex-direction: column;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.cart.fullscreen {
	width: 100%;
}
.cart::-webkit-scrollbar {
	display: none; /*Chrome */
}

.cart__heading {
	margin-bottom: 2rem;
}

.cart__tableHeaders {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.cart__tableHeaders p {
	width: 33%;
}

.cart__tableHeaders p:nth-child(2) {
	text-align: center;
}
.cart__tableHeaders p:nth-child(3) {
	text-align: end;
}

.cart__quantityButtons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	width: 33%;
	padding-left: 3rem;
}

.cart__quantityButtons button {
	padding: 0.5rem;
	border: none;
	background-color: var(--honey-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	transition: all 0.15s linear;
}

.cart__quantityButtons button:hover {
	filter: brightness(125%);
}

.cart__quantityButtons button:active {
	filter: brightness(80%);
}

.cart__deleteBtn {
	background-color: rgb(255, 255, 255) !important;
}

.cart__deleteBtn:hover {
	background-color: rgb(170, 20, 20) !important;
}

.cart__quantityButtons p {
	width: 1rem;
	text-align: center;
}

.cart__closeBtn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
}

.cart__product {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}

.cart__productHeading {
	font-size: 1rem;
	width: 33%;
}

.cart__productPriceSum {
	width: 33%;
	text-align: end;
}

.cart__productDivider {
	height: 1.5px;
	width: 100%;
	margin-bottom: 2rem;
	background-color: aliceblue;
}

.cart__sum {
	width: 100%;
	font-weight: bold;
	text-align: end;
}
